* {
    padding: 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto;
    box-sizing: border-box;
    text-align: center;
}

p, h2 {
    font-size: 16px;
}

p {
    color: #8B8B8B;
}

.ikony p {
    font-size: 13px;
}

.hlavicka img {
    margin-bottom: 40px;
}

h1 {
    font-size: 28px;   
}

.text {
    max-width: 460px;
}

.podtrzeni {
   width: 60px;
   height: 2px;
   background-color: #407BFF;
   margin: 10px auto;
}

.popis p {
    margin: 30px auto;
}

.tlacitka {
    list-style-type: none;
    text-decoration: none;
}

.tlacitko {
    margin: 10px auto;
    border-radius: 20px;
}

.tlacitko a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 400;
}

.dobrodruzstvi {
    background-color: #407BFF;
    width: 195px;
}

.pohoda {
    background-color: #8B8B8B;
    width: 221px;
}

/* u tlačítka "raději pohodu na pláži" jsem nastavila šířku místo 220 na 221px, protože při 220px se mi text rozděloval na dva řádky */

.sluzby h2 {
    margin: 60px auto 15px auto;
}

.sluzby p {
    margin: 15px auto 30px auto;
}

.box {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    margin: 15px auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    align-items: center;
    flex: 1 1 100%;
    max-width: 460px;
}

.box img {
    padding: 20px 30px 20px 20px;
}

/* Tabletová verze */

@media screen and (min-width: 640px) {


    .hlavicka img {
        width: 400px;
        margin-bottom: 30px;
    }    

    .text {
        max-width: 550px;
    }

    .tlacitka {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .tlacitko {
        margin: 0;
    }

    .sluzby h2 {
        margin: 80px auto 17px auto;
    }

    .sluzby p {
        margin: 17px auto 40px auto;
    }

    .ikony {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .box {
        flex-direction: column;
        max-width: 230px;
        height: 170px;
        margin: 0;
    }

    .box img {
        padding: 40px 0 0 0;
    }

    .box p {
        padding: 20px 15px;
    }
}

/* PC verze */

@media screen and (min-width: 1100px) {

    body {
        width: 1040px;
    }

    .hlavicka {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin: 60px auto 0 auto; */
    }

    .hlavicka img {
        order: 2;
        width: 425px;
        margin-right: 32.5px;
        margin-bottom: 0;
    }

    /* Nevěděla jsem si rady, jak nastavit mezeru 60px mezi horním textem a obrázkem a dotoho, aby obrázek byl ve svém sloupci vycentrovaný. Podle mého css to ty správné hodnoty ve výsledku asi má, ale řekla bych, že se to nastavuje jinak, tak prosím o připomenutí jak na to v tomto případě, děkuji:) */

    .popis {
        order: 1;
        text-align: left;
        max-width: 490px; 
    }

    .tlacitka {
        justify-content: left;
    }

    .podtrzeni {
        margin: 10px 0;
    }

    .cestovka,
    .delegati {
        display: flex;
        margin-top: 80px;
        align-items: center;
        justify-content: space-between;
    }

    .sluzby h2 {
        margin: 0 0 17px 0;
    }

    .sluzby p {
        margin: 0;
    }

    .ikony {
        justify-content: space-between;
        width: 550px;
    }

    .box {
        width: 170px;
        height: 192px;
    }

    .box p {
        padding-bottom: 40px;
    }

    .box img {
        padding: 40px 60px 0 60px;
    }

    /* text pod ikonkami není v každém boxu stejně rozmístěn jako v grafickém návrhu */

   .sluzby {
        text-align: left;
        width: 430px;
   }

   .prava {
        order: 2;
   }

   .leva {
        order: 1;   
   }
}

